.blocks {
    transition: all .4s;
}

.blocks:hover {
    background-color: rgb(251, 251, 251);
    transition: all .4s;
}

.blocks:active {
    background-color: rgb(244, 244, 244);
    transition: all .2s;
}

.not_allocated {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not_hidden {
    display: block;
    visibility: visible;
}

.notification {
    transition: all .8s;
}

.notification:hover {
    width: 35%;
    background-color: #e9e8f3;
    transition: all .4s;
}

.cardss {
    transition: all .8s;
}

.cardss:hover {
    width: 34%;
    background-color: #efeff7;
    transition: all .3s;
}

.cardss:active {
    width: 37%;
    background-color: #fbf5fc;
    transition: all .2rgb(255, 255, 255)
}